    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>  Nom :</label>
                <div type="text" name="nom" >{{etudiant.etudiantInfo.nom}}</div> 
            </div>
        </div> 

        <div class="col-md-4">
            <div class="form-group">
                <label>  Prénom :</label>
                <div  type="text" name="prenom">{{etudiant.etudiantInfo.prenom}}</div> 
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>  Code Admission:</label>
                <div  type="text" name="codeAdm">{{etudiant.admission.code}}</div>  
            </div>
        </div>
    </div>
    <div class="row">
    {# {{ dump(etudiant.notes[0]) }} #}
    {% for i in 0..(nbrAnnee - 1) %}
        <div class="form-group col-md-4">
            <label>  Note {{dataAnnee[i].designation}} :</label>
            {% if etudiant.notes[i] == 'indispo' %}
            <div style="display: flex;position: relative;">
                    <input class="form-control noteExterne" type="text" name="noteExterne" annee='{{dataAnnee[i].id}}' value="" style="text-align: center;">
                    <span style='position:absolute;'><i class="fa fa-check" id='icon' style="padding: 10px;position:absolute;display:none" ></i></span>
            </div> 
            {% else %}
                <div  type="text" name="anote">{{etudiant.notes[i]}}</div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {# <div class="row">
        <button class="btn btn-primary ml-auto" id="impression_diplome">Imprimer</button>
    </div> #}
    
  