
            
                        <fieldset>
                            <legend>Informations générales</legend>
                        </fieldset>                
                        
                    <div class="row" data-select2-id="select2-data-9-j8n4">
                            <div class="col-md-4"><h5 style=""><b>Etablissement</b></h5>
                                <h6><b>Désignation : </b>{{dataInfosGenerales.designation_etablissement}} ({{dataInfosGenerales.abreviation_etablissement}}) </h6>
                                <h6><b> Doyen : </b>{{dataInfosGenerales.doyen}} </h6>
                                <h6><b>nature : </b>{{dataInfosGenerales.nature_etablissement}} </h6>
                            </div>
                            <div class="col-md-4"><h5 style=""><b>Formation</b></h5>
                                <h6><b>Désignation : </b>{{dataInfosGenerales.designation_formation}} ({{dataInfosGenerales.abreviation_formation}}) </h6>
                                <h6><b>Durée de formation : </b>{{dataInfosGenerales.nbr_annee}} </h6>
                                {# <h6><b>Département : </b>FORMATION INITIALE </h6> #}
                            </div>
                            <div class="col-md-4"><h5 style=""><b>Année</b></h5>
                                <h6><b>Désignation : </b>{{dataInfosGenerales.designation_annee}} </h6>
                            </div>
                </div>
