 {# <h4>Tableau des épreuves</h4> #}
        <thead>
            <tr style= "background-color:white; position: sticky; top: 0;">
                <th><input type ="checkbox" class="check_all_formation"></th>
                <th>#</th>
                <th>Code</th>
                <th>Nom</th>
                <th>Prenom</th>    
                {% for i in 0..(nbrAnnee - 1) %}
                    <th>Année({{i+1}})<br>
                    {% if dataAnnee[i] is defined %}
                        {{dataAnnee[i].designation}}
                    {% else %}
                        prochainement
                    {% endif %}
                    </th>
                {% endfor %}

                {% if dataAnnee|length > 0 and countAnote == nbrAnnee%}
                        <th>Moyenne</th>                
                        <th>Moyenne Sec</th>
                {% endif %}      
                
            </tr>
        </thead>
        <tbody>
            {% for etudiant in etudiants %}
                <tr>
                    <td><input type ='checkbox' class='check_etu' id ='{{etudiant.admission.id}}' value="{{etudiant.admission.id}}"></td>
                    <td>{{loop.index}}</td>
                    <td>{{etudiant.admission.code}}</td>
                    <td>{{etudiant.etudiantInfo.nom}}</td>
                    <td>{{etudiant.etudiantInfo.prenom}}</td>
                    {% for note in etudiant.notes %}
                        {% if note != 'Prochainement' %}
                            <td>{{note|number_format(2, '.', ',')}}</td>
                            {% else %}
                            <td>{{note}}</td>
                        {% endif %}
                    {% endfor %}

                    {% if etudiant.moyenne is defined %}
                        <td>{{etudiant.moyenne}}</td>
                    {% endif %}
                    {% if etudiant.moyenne is defined %}
                        <td>{{etudiant.moyenneSec}}</td>
                    {% endif %}
                    
                    
                </tr>
            {% endfor %}
        </tbody>