<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<style type="text/Css">
    body{
        font-family: 'Arial', sans-serif;
    }
    footer {
        /* font-family: 'Courier', Courier; */

    }
    .titre-reb{
        width: 100%;
        background: #1f4f7a;
        font-size: 9px ;
        padding:3px 10px;
        color: #f1f1f1;
        /* font-weight: bold */
    }
    div.zone_over
    {
        display: block;
        width: 40%;
        word-wrap:break-word !important;
    }
    .slh tr td {
        border-bottom: 1px solid #8d8d8d;
    }
    .tableAnnee  th {
        /*border-bottom: 1px solid #adadad;*/
        border: 1px solid #adadad;
    }
    .tableAnnee  td {
        /*border-bottom: 1px solid #adadad;*/
        border-right: .5px solid #adadad;
        border-left: .5px solid #adadad;
        border-bottom: .5px solid #adadad;
        padding : 5px;
    }
    .txt {
        width: 100%;
        text-align: left;
        {# line-height: 30px;  #}
        padding-top: 0px ;  
        padding-bottom:  0px ;
        padding-left: 30px ;
        padding-right:  30px ;
        text-align: justify; 
        font-size : 11.5px;
        font-weight: normal ;
    }
    .txt span {
        /* font-size:11px; */
        /* font-weight: bold; */
        /* color:black; */
        margin-left: 5px ; 
        margin-right: 5px ; 
    }
</style>

<div style="text-align: center;">
        <table style="width: 100% ;" cellspacing="0">
            <tr>
                <th style="width: 100% ; font-size: 13px ;font-weight: 200;font-weight: bold;padding:0 4px;color:rgb(3, 35, 68);">
                    {# {% if inscription.annee.formation.etablissement.id == 28 %}
                        <img src="./assets/img/logo/cpge.jpg" style=" width: 400px; margin: 0 auto;">                
                    {% endif %} #}
                </th>
                <th style="width: 100% ; font-size: 13px ;font-weight: 200;font-weight: bold;padding:0 4px;color:rgb(3, 35, 68);">
                    {% if inscription.annee.formation.etablissement.id == 28 %}
                        {# {% if laz == 1 %} #}
                                {# <img src="./assets/img/logo/logo_lez.png" style=" width: 600px; margin: 0 auto;">  #}
                            {# {% else %} #}
                                <img src="./assets/img/logo/cpge.svg" style=" width: 600px; margin: 0 auto;"> 
                        {# {% endif %} #}
                    {% elseif inscription.annee.formation.etablissement.id == 5 %}
                            <img src="./assets/img/logo/logo_lez.png" style=" width: 600px; margin: 0 auto;">
                    {% else %}                
                            <img src="./assets/img/logo/Logo_UIASS_bkack2.png" style=" width: 600px; margin: 0 auto;">
                    {% endif %}
                    {# <img src="./assets/img/logo/Logo_UIASS_bkack2.png" style=" width: 400px; margin: 0 auto;"> #}
                </th>
                <th style="width: 100% ; font-size: 13px ;font-weight: 200;font-weight: bold;padding:0 4px;color:rgb(3, 35, 68);">
                    {# {% if inscription.annee.formation.etablissement.id == 28 %}               
                        <img src="./assets/img/logo/Logo_UIASS_bkack2.png" style=" width: 400px; margin: 0 auto;">
                    {% endif %} #}
                </th>                    
            </tr>
        </table>
    {# <img src="./assets/img/logo/Logo_UIASS_bkack2.png" style=" width: 180px; margin: 0 auto;"> #}
    {# <img src="./assets/img/logo/cpge.jpg" style=" width: 250px; margin: 0 auto;"> #}
</div>
{# <br><br><br><br><br><br><br> #}
<br><br>
<p style="text-align:center;font-size:20px;font-weight: bold;color:#0c2842;">ATTESTATION DE REUSSITE</p>
<br/><br/>
<table style="width: 100%;"  cellspacing="0">
    <tbody>
        <tr>
            <td class="txt">
                L’Université Internationale Abulcasis des Sciences de la Santé sise à Madinat Al Irfane, avenue Allal El Fassi, Hay Riad Rabat, atteste par la présente que :
            </td>
        </tr>
    </tbody>

</table>
<br>

        {% set lastinscription = inscription.admission.inscriptions|last %}

<table style="width: 100%;font-size:12px;"  cellspacing="0">   

    <tbody>
        <tr>
            <td style="width: 10%; text-align: left;line-height: 25px">
            </td>
            <td style="width: 70%; text-align: left;line-height: 25px">
                <span style="font-size:11px;font-weight: bold;color:#000;">L’étudiant(e)</span> : {{inscription.admission.preinscription.etudiant.nom}} {{inscription.admission.preinscription.etudiant.prenom}}
            </td>
            <td style="width: 20%; text-align: left;line-height: 25px">
            </td>
        </tr>
        
        <tr>
            <td style="width: 10%; text-align: left;line-height: 25px">

            </td>
            <td style="width: 70%; text-align: left;line-height: 25px">
                <span style="font-size:11px;font-weight: bold;color:#000;">N° d’inscription </span> : {{lastinscription.code}}
            </td>
            <td style="width: 20%; text-align: left;line-height: 25px">
                <span style="font-size:11px;font-weight: bold;color:#000;"> </span>
            </td> 
        </tr>
        
        {# <tr>
            <td style="width: 10%; text-align: left;line-height: 25px">

            </td>
            <td style="width: 70%; text-align: left;line-height: 25px">
                <span style="font-size:11px;font-weight: bold;color:#000;">Né(e) le </span> : {{inscription.admission.preinscription.etudiant.dateNaissance|date("d/m/Y")}}
            </td>
            <td style="width: 20%; text-align: left;line-height: 25px">
                <span style="font-size:11px;font-weight: bold;color:#000;"> </span>
            </td> 
        </tr> #}
        
        <tr>
            <td style="width: 10%; text-align: left;line-height: 25px">

            </td>
            <td style="width: 70%; text-align: left;line-height: 25px">
                <span style="font-size:11px;font-weight: bold;color:#000;">CIN/Passeport </span> : {{inscription.admission.preinscription.etudiant.cin}}
            </td>
            <td style="width: 20%; text-align: left;line-height: 25px">

            </td>
        </tr>
        
        {# <tr>
            <td style="width: 10%; text-align: left;line-height: 25px">
            </td>
            <td style="width: 70%; text-align: left;line-height: 25px">
                <span style="font-size:11px;font-weight: bold;color:#000;">Filière  </span> : {{lastinscription.annee.formation.designation}}
            </td>
            <td style="width: 20%; text-align: left;line-height: 25px">
            </td>
        </tr> #}
        
    </tbody>
</table>
{% if inscription.annee.formation.etablissement.id in [3,4] %}
{% if inscription.annee.formation.etablissement.id == 3 %}
    {% set la = "l'" %}
    {% else %}
    {% set la = "la " %}
{% endif %}

    <p style="line-height: 1.8; margin: 10px 30px;font-size:11px;">
    A suivi avec succès le cycle de licence Professionnelle de {{la}}<b>{{lastinscription.annee.formation.etablissement.designation}}</b> et a cumulé les moyennes suivantes durant son cursus universitaire :  
    </p>
{% else %}
    <p style="line-height: 1.8; margin: 10px 30px;font-size:11px;">
    A suivi avec succès le cursus universitaire de la filière <b>{{lastinscription.annee.formation.designation}}</b> et a été déclaré (e) ‘’ Docteur en <b>{{lastinscription.annee.formation.designation}}</b>‘’ au titre de l’année académique {{lastinscription.annee.designation}} :    
    </p>
{% endif %}

<table style="width: 100%;font-size:12px;border: 1px solid #adadad;margin: 10px 30px;color:#000" class="tableAnnee"  cellspacing="0">   
    <thead>
        <tr>
            <th style="text-align: center;line-height: 30px;background-color:#bfbfbf">ANNEE UNIVERSITAIRE</th>
            <th style="text-align: center;line-height: 30px;background-color:#bfbfbf">NIVEAU</th>
            <th style="text-align: center;background-color:#bfbfbf">MOYENNE ANNUELLE <br>(/20)</th>
            <th style="text-align: center;line-height: 30px;background-color:#bfbfbf">STATUT ANNÉE</th>
        </tr>
    </thead>
    <tbody>
    {% set varColor = 0 %}
    {% set BackColor = "fff" %}
        {% for inscription in inscription.admission.inscriptions %}
            {% if inscription.anotes is not null and inscription.anotes.statutAff and inscription.anotes.statutAff.id not in [44,45,46] %}
            {% if varColor == 0 %}
                    {% set BackColor = "#fff" %}
                    {% set varColor = 1 %}
                {% else %}
                    {% set BackColor = "#f2f2f2" %}
                    {% set varColor = 0 %}
            {% endif %}
                <tr style="background-color:{{BackColor}}">
                    <td style="text-align: center;line-height: 30px">{{inscription.annee.designation}}</td>
                    <td style="text-align: center;line-height: 30px">{{inscription.promotion.ordre}} Année</td>
                    <td style="text-align: center;line-height: 30px;width:150px">{{inscription.anotes.noteSec|number_format(2)}}</td>
                    <td style="text-align: center;line-height: 30px">{{inscription.anotes.statutAff.designation}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<p style="line-height: 1.8; margin: 10px 30px;font-size:11px;">
    Cette attestation est délivrée à l&#39;intéressé(e) pour servir et valoir ce que de droit.     
</p>

<table style="width: 100%;font-size:12px;margin: 10px 30px;color:#000" align="center" cellspacing="0">
    <tbody>
        <tr>
            <td style="width: 70%; text-align: left;">
                <p style="font-size: 11px;"><b><u>Avis important :</u></b></p>
                <p style="font-size: 11px;">Il ne peut être délivré qu'un seul exemplaire du présent relevé de notes.<br> Aucun duplicata ne sera fourni. </p>
            </td>
            <td style="width: 30%; text-align: left;">
            </td>
        </tr>
    </tbody>
</table>
<table style="width: 100%;" align="center" cellspacing="0">
    <thead>
        <tr>
            <th style="width: 30%; text-align: left;"></th>
        </tr>
    </thead>
    <tbody>

        <tr>

            <td style="width: 89%; text-align: right;">
                <br><br><br>
                <span style="font-size:12px;font-weight: bold;color:black;"> Fait à Rabat, le {{"now"|date("d/m/Y")}}</span>

            </td>

        </tr>
    </tbody>

</table>