<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<style type="text/Css">
    body{
        font-family: Arial, sans-serif;
        /* font-family: 'Courier', sans-serif; */
        /* color: rgb(90, 90, 95) !important; */
    }
    footer {
        /* font-family: 'Courier', Courier; */

    }
    .titre-reb{
        width: 100%;
        background: #1f4f7a;
        font-size: 9px ;
        padding:3px 10px;
        color: #f1f1f1;
        /* font-weight: bold */
    }
    div.zone_over
    {
        display: block;
        width: 40%;
        word-wrap:break-word !important;
    }
    .slh tr td {
        border-bottom: 1px solid #8d8d8d;
    }
    
    .txt {
        width: 100%;
        text-align: left;
        line-height: 30px; 
        padding-top: 0px ;  
        padding-bottom:  0px ;
        padding-left: 30px ;
        padding-right:  30px ;
        text-align: justify; 
        /* font-size : 11.5px; */
        font-size : 11.5px;
        font-weight: normal ;
    }
    .txt span {
        /* font-size:11px; */
        /* font-weight: bold; */
        /* color:black; */
        margin-left: 5px ; 
        margin-right: 5px ; 
    }
</style>

<div style="text-align: center;">
        <table style="width: 100% ;" cellspacing="0">
            <tr>
                <th style="width: 100% ; font-size: 13px ;font-weight: 200;font-weight: bold;padding:0 4px;color:rgb(3, 35, 68);">
                </th>
                <th style="width: 100% ; font-size: 13px ;font-weight: 200;font-weight: bold;padding:0 4px;color:rgb(3, 35, 68);">
                    {% if inscription.annee.formation.etablissement.id == 28 %}
                            <img src="./assets/img/logo/cpge.svg" style=" width: 600px; margin: 0 auto;"> 
                    {% elseif inscription.annee.formation.etablissement.id == 5 %}
                            <img src="./assets/img/logo/logo_lez.png" style=" width: 600px; margin: 0 auto;">
                    {% else %}                
                            <img src="./assets/img/logo/Logo_UIASS_bkack2.png" style=" width: 600px; margin: 0 auto;">
                    {% endif %}
                </th>
                <th style="width: 100% ; font-size: 13px ;font-weight: 200;font-weight: bold;padding:0 4px;color:rgb(3, 35, 68);">
                </th>                    
            </tr>
        </table>
</div>
<br>
<br>
<br>
<br>
<p style="text-align:center;font-size:20px;font-weight: bold;color:#0c2842;">ATTESTATION D’HEBERGEMENT</p>
<br/>
<br/><br/>
<table style="width: 100%;"  cellspacing="0">
    <tbody>
        <tr>
        {% set lastinscription = inscription.admission.inscriptions|last %}
        {# {% if inscription.admission.preinscription.etudiant.Cin != null  %}
            {% set passeport = "Cin n° <b>"{{inscription.admission.preinscription.etudiant.Cin}}"</b>" %}
        {% else %}
            {% set passeport = "Passeport n° <b>"{{inscription.admission.preinscription.etudiant.Passeport}}"</b>" %}
        {% endif %} #}
        
            <td class="txt">
                Nous soussignés, <b>L’Université Internationale Abulcasis des Sciences de la Santé (UIASS)</b>, sise à Madinat Al Irfane, Bâtiment B, avenue Allal El Fassi, Rabat, atteste par la présente que l’étudiant(e) <b> {{inscription.admission.preinscription.etudiant.nom}} {{inscription.admission.preinscription.etudiant.prenom}}</b> de Nationalité <b>{{inscription.admission.preinscription.etudiant.nationalite}}</b> {{passeportType}} <b>{{passeport}}</b> est inscrit(e) en <b>{{lastinscription.promotion.designation}} et {{lastinscription.annee.formation.designation}}</b> au titre de l’année académique <b>{{lastinscription.annee.designation}}</b>, bénéficie d’un logement Universitaire à la Fondation Cheikh Zaïd à l’adresse suivante : Avenue Allal El Fassi, Madinat Al Irfane, Hay Riad,Rabat Maroc.<br>
                En foi de quoi la présente attestation est délivrée à l’intéressé pour servir et valoir ce que à de droit.
            </td>
        </tr>
    </tbody>

</table>
<br>

<table style="width: 100%;" cellspacing="0">
    <thead>
        <tr>
            <th style="width: 30%; text-align: left;"></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td style="width: 100%; text-align: left;">
                <br><br><br>
                <span style="font-size:11px;color:#000;font-weight:bold;"> Université Internationale Abulcasis</span>

            </td>
        </tr>
        <tr>
            <td style="width: 100%; text-align: left;">
                <span style="font-size:11px;color:#000;font-weight:bold;"> Des Sciences de la Santé</span>

            </td>
        </tr>
    </tbody>

</table>