{# <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> #}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<style type="text/Css">
    body{
        font-family: 'Courier Prime';
    }
    .slh tr td {
        border-bottom: 1px solid #292929;
        line-height: .5;
    }
</style>
<br>
{% set color = "" %}
{# {% set color = "background-color: #dddd4f;color:#000;" %} #}

<table align="center" style=" background: #FFFFFF;font-size: 11px" cellspacing="0" class="slh">
    <thead>
        <tr style="background-color: #000;font-size: 9px;text-align: center">
            <th style="width:50px;color:#fff;text-align: center;padding: 8px; font-weight: 600"><center>RANG</center></th>
            <th style="width:180px;color:#fff;text-align: left;font-weight: 400"><center>CODE CANDIDAT</center></th>
            <th style="width:220px;color:#fff; text-align: left;font-weight: 600"><center>NOM</center></th>
            <th style="width:220px;color:#fff;text-align: left;font-weight: 600"><center>PRENOM</center></th>
            <th style="width:100px;color:#fff;text-align: left;font-weight: 600"> <center>TYPEBAC</center></th>
            <th style="width:100px;color:#fff;text-align: left;font-weight: 600"><center>CIN/PASS</center></th>
            <th style="width:100px;color:#fff;text-align: left;font-weight: 600"><center>MOY. BAC</center></th>
            <th style="width:180px;color:#fff;  {{color}} text-align: center;font-weight: 800"><center>{{etab}}</center></th>
        </tr>
    </thead>
    <tbody>
        {% for ConcoursEvaluation in ConcoursEvaluations %}
            <tr style="font-size: 9px;padding: 5px ;">
                <td style="width:50px;text-align: center;padding: 8px; font-weight: 600">
                    {% if etab == "ISITS" %}
                        {{ConcoursEvaluation.RangISITS}}
                    {% elseif etab == "FASIMH" %}
                        {{ConcoursEvaluation.RangFASIMH}}
                    {% endif %}
                </td>
                <td style="width:180px;text-align: left;font-weight: 400">{{ConcoursEvaluation.etudiant.code}}</td>
                <td style="width:220px; text-align: left;font-weight: 600">{{ConcoursEvaluation.etudiant.nom}}</td>
                <td style="width:220px;text-align: left;font-weight: 600">{{ConcoursEvaluation.etudiant.prenom}}</td>
                <td style="width:100px;text-align: left;font-weight: 600">
                    {% if ConcoursEvaluation.etudiant.typeBac %}{{ConcoursEvaluation.etudiant.typeBac.designation}}{% endif %}
                </td>
                <td style="width:100px;text-align: left;font-weight: 600">
                    {% if ConcoursEvaluation.etudiant.cin == "" %}
                            {{ConcoursEvaluation.etudiant.passeport}}
                    {% else %}
                            {{ConcoursEvaluation.etudiant.cin}}
                    {% endif %}
                </td>
                <td style="width:100px;text-align: center;font-weight: 600">{{ConcoursEvaluation.etudiant.MoyenneBac|number_format(2, '.', ',') }}</td>
                <td style="width:180px; {{color}} text-align: center;font-weight: 800">
                    {% if etab == "ISITS" %}
                        {% if ConcoursEvaluation.listISITS == 1 %}
                            LISTE PRINCIPALE
                        {% elseif ConcoursEvaluation.listISITS == 2 %}
                            LISTE COMPLÉMENTAIRE
                        {% elseif ConcoursEvaluation.listISITS == 3 %}
                            NON VALIDÉ
                        {% endif %}
                    {% elseif etab == "FASIMH" %}
                        {% if ConcoursEvaluation.listFASIMH == 1 %}
                            LISTE PRINCIPALE
                        {% elseif ConcoursEvaluation.listFASIMH == 2 %}
                            LISTE COMPLÉMENTAIRE
                        {% elseif ConcoursEvaluation.listFASIMH == 3 %}
                            NON VALIDÉ
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


