{# <link href="https://db.onlinewebfonts.com/c/7c6661efce01eac269383bac79303c1b?family=Arial+Narrow" rel="stylesheet"> #}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<style type="text/Css">
    body{ 
        /*font-family: 'Courier New';*/
        font-family: 'Courier Prime';
    }
    .slh tr td {
        border-bottom: 1px solid #bfbfbf;
        line-height: .5;
    }
    .slh tr th {
        line-height: 1.5;
    }
</style>
<br>
{% set colorFMA = "" %}
{% set colorFMDA = "" %}
{% set colorFPA = "" %}
{% if etab == "FMA" %}
    {% set colorFMA = "background-color: #dddd4f;color:#000;" %}
{% elseif etab == "FMDA" %}
    {% set colorFMDA = "background-color: #dddd4f;color:#000;" %}
{% elseif etab == "FPA" %}
    {% set colorFPA = "background-color: #dddd4f;color:#000;" %}
{% endif %}

<table align="center" style=" background: #FFFFFF;font-size: 11px" cellspacing="0" class="slh">
    <thead>
        <tr style="background-color: #000;font-size: 9px;text-align: center">
            <th style="width:50px;color:#fff;text-align: center;padding: 8px; font-weight: 600"><center>RANG</center></th>
            <th style="width:150px;color:#fff;text-align: left;font-weight: 400"><center>CODE CANDIDAT</center></th>
            <th style="width:180px;color:#fff; text-align: left;font-weight: 600"><center>NOM</center></th>
            <th style="width:180px;color:#fff;text-align: left;font-weight: 600"><center>PRENOM</center></th>
            <th style="width:80px;color:#fff;text-align: left;font-weight: 600"> <center>TYPEBAC</center></th>
            <th style="width:80;color:#fff;text-align: left;font-weight: 600"><center>CIN/PASS</center></th>
            <th style="width:80;color:#fff;text-align: left;font-weight: 600"><center>MOY. BAC</center></th>
            <th style="width:120px;color:#fff; {{colorFMA}} text-align: center;font-weight: 800"><center>MEDCINE</center></th>
            <th style="width:120px;color:#fff; {{colorFMDA}} text-align: center;font-weight: 800"><center>DENTAIRE</center></th>
            <th style="width:120px;color:#fff; {{colorFPA}} text-align: center;font-weight: 800"><center>PHARMACIE</center></th>
        </tr>
    </thead>
    <tbody>
        {% for ConcoursEvaluation in ConcoursEvaluations %}
            <tr style="font-size: 9px;padding: 5px ;">
                <td style="width:50px;text-align: center;padding: 8px; font-weight: 600">
                    {% if etab == "FMA" %}
                        {{ConcoursEvaluation.RangFMA}}
                    {% elseif etab == "FMDA" %}
                        {{ConcoursEvaluation.RangFMDA}}
                    {% elseif etab == "FPA" %}
                        {{ConcoursEvaluation.RangFPA}}
                    {% endif %}
                </td>
                <td style="width:150px;text-align: left;font-weight: 400">{{ConcoursEvaluation.etudiant.code}}</td>
                <td style="width:180px; text-align: left;font-weight: 600">{{ConcoursEvaluation.etudiant.nom}}</td>
                <td style="width:180px;text-align: left;font-weight: 600">{{ConcoursEvaluation.etudiant.prenom}}</td>
                <td style="width:80px;text-align: left;font-weight: 600">
                    {% if ConcoursEvaluation.etudiant.typeBac %}{{ConcoursEvaluation.etudiant.typeBac.designation}}{% endif %}
                </td>
                <td style="width:80;text-align: left;font-weight: 600">
                    {% if ConcoursEvaluation.etudiant.cin == "" %}
                            {{ConcoursEvaluation.etudiant.passeport}}
                    {% else %}
                            {{ConcoursEvaluation.etudiant.cin}}
                    {% endif %}
                </td>
                <td style="width:80;text-align: center;font-weight: 600">{{ConcoursEvaluation.etudiant.MoyenneBac|number_format(2, '.', ',') }}</td>
                <td style="width:120px; {{colorFMA}} text-align: center;font-weight: 800">
                    {% if ConcoursEvaluation.listFMA == 1 %}
                        LISTE PRINCIPALE
                    {% elseif ConcoursEvaluation.listFMA == 2 %}
                        LISTE D'ATTENTE
                    {% elseif ConcoursEvaluation.listFMA == 3 %}
                        NON ADMIS
                    {% endif %}
                </td>
                <td style="width:120px; {{colorFMDA}} text-align: center;font-weight: 800">
                    {% if ConcoursEvaluation.listFMA == 1  and ConcoursEvaluation.listFMDA == 1 %}
                        {# LISTE PRINCIPALE-2 #}
                        VALIDE
                    {% elseif ConcoursEvaluation.listFMA != 1  and ConcoursEvaluation.listFMDA == 1 %}
                        LISTE PRINCIPALE
                    {% elseif ConcoursEvaluation.listFMDA == 2 %}
                        LISTE D'ATTENTE
                    {% elseif ConcoursEvaluation.listFMDA == 3 %}
                        NON ADMIS
                    {% endif %}
                </td>
                <td style="width:120px; {{colorFPA}} text-align: center;font-weight: 800">
                {# <pre>
                    {{ dump(ConcoursEvaluation.listFPA) }}
                </pre> #}
                    {% if ConcoursEvaluation.listFMA == 1 and ConcoursEvaluation.listFMDA == 1 and ConcoursEvaluation.listFPA == 1 %}
                        {# LISTE PRINCIPALE-3 #}
                        VALIDE
                    {% elseif (ConcoursEvaluation.listFMA == 1 or ConcoursEvaluation.listFMDA == 1) and ConcoursEvaluation.listFPA == 1 %}
                        {# LISTE PRINCIPALE-2 #}
                        VALIDE
                    {% elseif  ConcoursEvaluation.listFPA == 1 %}
                        LISTE PRINCIPALE
                    {% elseif ConcoursEvaluation.listFPA == 2 %}
                        LISTE D'ATTENTE
                    {% elseif ConcoursEvaluation.listFPA == 3 %}
                        NON ADMIS
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


